<a href="https://colab.research.google.com/github/Mugdha67/EDGE/blob/main/Kuldip_jan5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Math Modules**

In [1]:
# Import math Library
import math

# Return the arc cosine of numbers
print(math.acos(0.55))
print(math.acos(-0.55))
print(math.acos(0))
print(math.acos(1))
print(math.acos(-1))

0.9884320889261531
2.15316056466364
1.5707963267948966
0.0
3.141592653589793

In [2]:
# Import math Library
import math

# Return the inverse hyperbolic cosine of different numbers
print (math.acosh(7))
print (math.acosh(56))
print (math.acosh(2.45))
print (math.acosh(1))

2.6339157938496336
4.718419142372879
1.5447131178707394
0.0

In [3]:
# Import math Library
import math

# Return the arc sine of numbers
print(math.asin(0.55))
print(math.asin(-0.55))
print(math.asin(0))
print(math.asin(1))
print(math.asin(-1))

0.5823642378687435
-0.5823642378687435
0.0
1.5707963267948966
-1.5707963267948966

In [4]:
# Import math Library
import math

# Return the inverse hyperbolic sine of numbers
print(math.asinh(7))
print(math.asinh(56))
print(math.asinh(2.45))
print(math.asinh(1))

2.644120761058629
4.718578581151767
1.6284998192841909
0.881373587019543

In [5]:
#Import math Library
import math

#fReturn the arc tangent of different numbers
print (math.atan(0.39))
print (math.atan(67))
print (math.atan(-21))

0.37185607384858127
1.5558720618048116
-1.5232132235179132

In [6]:
# Import math Library
import math

# Return the arc tangent of y/x in radians
print(math.atan2(8, 5))
print(math.atan2(20, 10))
print(math.atan2(34, -7))

1.0121970114513341
1.1071487177940904
1.7738415440483617

In [7]:
#Import math Library
import math

#print the hyperbolic arctangent of different numbers
print(math.atanh(0.59))
print(math.atanh(-0.12))

0.6776660677579618
-0.12058102840844404

In [8]:
# Import math library
import math

# Round a number upward to its nearest integer
print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))
print(math.ceil(22.6))
print(math.ceil(10.0))

2
6
-5
23
10

In [9]:
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of possibilities to choose
k = 5

# Print total number of possible combinations
print (math.comb(n, k))

21

In [10]:
#Import math Library
import math

#Return the value of the first parameter and the sign of the second parameter
print(math.copysign(4, -1))
print(math.copysign(-8, 97.21))
print(math.copysign(-43, -76))

-4.0
8.0
-43.0

In [11]:
# Import math Library
import math

# Return the cosine of different numbers
print (math.cos(0.00))
print (math.cos(-1.23))
print (math.cos(10))
print (math.cos(3.14159265359))

1.0
0.3342377271245026
-0.8390715290764524
-1.0

In [12]:
# Import math Library
import math

# Return the hyperbolic cosine of different numbers
print (math.cosh(1))
print (math.cosh(8.90))
print (math.cosh(0))
print (math.cosh(1.52))

1.5430806348152437
3665.986837772461
1.0
2.3954685410471868

In [13]:
# Import math Library
import math

# Convert from radians to degrees:
print (math.degrees(8.90))
print (math.degrees(-20))
print (math.degrees(1))
print (math.degrees(90))

509.9324376664327
-1145.9155902616465
57.29577951308232
5156.620156177409

In [14]:
# Import math Library
import math

p = [3]
q = [1]

# Calculate Euclidean distance
print (math.dist(p, q))

p = [3, 3]
q = [6, 12]

# Calculate Euclidean distance
print (math.dist(p, q))

2.0
9.486832980505138

In [15]:
# Import math Library
import math

# Print error function for different numbers
print (math.erf(0.67))
print (math.erf(1.34))
print (math.erf(-6))

0.6566277023003051
0.9419137152583653
-1.0

In [16]:
# Import math Library
import math

# Print complementary error function for different numbers
print (math.erfc(0.67))
print (math.erfc(1.34))
print (math.erfc(-6))

0.3433722976996949
0.058086284741634665
2.0

In [17]:
#Import math Library
import math

#find the exponential of the specified value
print(math.exp(65))
print(math.exp(-6.89))

1.6948892444103338e+28
0.0010179138409954387

In [18]:
#Import math Library
import math

#Return the exponential value of a number - 1
print(math.expm1(32))
print(math.expm1(-10.89))

78962960182679.69
-0.9999813562576685

In [19]:
#Import math Library
import math

#Print absolute values from numbers
print(math.fabs(-66.43))
print(math.fabs(-7))

66.43
7.0

In [20]:
#Import math Library
import math

#Return factorial of a number
print(math.factorial(9))
print(math.factorial(6))
print(math.factorial(12))

362880
720
479001600

In [21]:
# Import math library
import math

# Round numbers down to the nearest integer
print(math.floor(0.6))
print(math.floor(1.4))
print(math.floor(5.3))
print(math.floor(-5.3))
print(math.floor(22.6))
print(math.floor(10.0))

0
1
5
-6
22
10

In [22]:
# Import math Library
import math

# Return the remainder of x/y
print(math.fmod(20, 4))
print(math.fmod(20, 3))
print(math.fmod(15, 6))
print(math.fmod(-10, 3))
print(math.fmod(0, 0))#sunno k sunno diya mod kora jay na

0.0
2.0
3.0
-1.0

ValueError: math domain error

In [23]:
#Import math Library
import math

#Return mantissa and exponent of numbers
print(math.frexp(4))
print(math.frexp(-4))
print(math.frexp(7))

(0.5, 3)
(-0.5, 3)
(0.875, 3)

In [24]:
# Import math Library
import math

# Print the sum of all items
print(math.fsum([1, 2, 3, 4, 5]))
print(math.fsum([100, 400, 340, 500]))
print(math.fsum([1.7, 0.3, 1.5, 4.5]))

15.0
1340.0
8.0

In [25]:
# Import math Library
import math

# Return the gamma function for different numbers
print(math.gamma(-0.1))
print(math.gamma(8))
print(math.gamma(1.2))
print(math.gamma(80))
print(math.gamma(-0.55))

-10.686287021193193
5040.0
0.9181687423997604
8.946182130782976e+116
-3.578429819277059

In [26]:
#Import math Library
import math

#find the  the greatest common divisor of the two integers
print (math.gcd(3, 6))
print (math.gcd(6, 12))
print (math.gcd(12, 36))
print (math.gcd(-12, -36))
print (math.gcd(5, 12))
print (math.gcd(10, 0))
print (math.gcd(0, 34))
print (math.gcd(0, 0))

3
6
12
12
1
10
34
0

In [28]:
# Import math Library
import math

#set perpendicular and base
parendicular = 10
base = 5

#print the hypotenuse of a right-angled triangle
print(math.hypot(parendicular, base))

11.180339887498949

In [29]:
#Import math Library
import math

#compare the closeness of two values
print(math.isclose(1.233, 1.4566))
print(math.isclose(1.233, 1.233))
print(math.isclose(1.233, 1.24))
print(math.isclose(1.233, 1.233000001))

False
True
False
True

In [30]:
# Import math Library
import math

# Check whether the values are finite or not
print(math.isfinite(2000))
print(math.isfinite(-45.34))
print(math.isfinite(+45.34))
print(math.isfinite(math.inf))
print(math.isfinite(float("nan")))
print(math.isfinite(float("inf")))
print(math.isfinite(float("-inf")))
print(math.isfinite(-math.inf))
print(math.isfinite(0.0))

True
True
True
False
False
False
False
False
True

In [31]:
# Import math Library
import math

# Check whether the values are infinite or not
print(math.isinf(56))
print(math.isinf(-45.34))
print(math.isinf(+45.34))
print(math.isinf(math.inf))
print(math.isinf(float("nan")))
print(math.isinf(float("inf")))
print(math.isinf(float("-inf")))
print(math.isinf(-math.inf))

False
False
False
True
False
True
True
True

In [32]:
# Import math Library
import math

# Check whether some values are NaN or not
print (math.isnan (56))
print (math.isnan (-45.34))
print (math.isnan (+45.34))
print (math.isnan (math.inf))
print (math.isnan (float("nan")))
print (math.isnan (float("inf")))
print (math.isnan (float("-inf")))
print (math.isnan (math.nan))

False
False
False
False
True
False
False
True

In [33]:
# Import math Library
import math

# Print the square root of different numbers
print (math.sqrt(10))
print (math.sqrt (12))
print (math.sqrt (68))
print (math.sqrt (100))

# Round square root downward to the nearest integer
print (math.isqrt(10))
print (math.isqrt (12))
print (math.isqrt (68))
print (math.isqrt (100))

3.1622776601683795
3.4641016151377544
8.246211251235321
10.0
3
3
8
10

In [34]:
#Import math Library
import math

#Return value of x * (2**i)
print(math.ldexp(9, 3))
print(math.ldexp(-5, 2))
print(math.ldexp(15, 2))

72.0
-20.0
60.0

In [35]:
# Import math Library
import math

# Return the log gamma value of different numbers   # ln diya korte hobe
print (math.lgamma(7))
print (math.lgamma(-4.2))

6.579251212010102
-1.8075166614192908

In [36]:
# Import math Library
import math

# Return the natural logarithm of different numbers # ln diya korte hobe
print(math.log(2.7183))
print(math.log(2))
print(math.log(1))

1.0000066849139877
0.6931471805599453
0.0

In [37]:
# Import math Library
import math

# Return the base-10 logarithm of different numbers
print(math.log10(2.7183))
print(math.log10(2))
print(math.log10(1))

0.43429738512450866
0.3010299956639812
0.0

In [38]:
# Import math Library
import math

# Return the log(1+number) for different numbers
print(math.log1p(2.7183))
print(math.log1p(2))
print(math.log1p(1))

1.3132665745863341
1.0986122886681096
0.6931471805599453

In [39]:
# Import math Library
import math

# Return the base-2 logarithm of different numbers
print(math.log2(2.7183))
print(math.log2(2))
print(math.log2(1))

1.4427046851812222
1.0
0.0

In [40]:
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of items to choose
k = 5

# Print the number of ways to choose k items from n items
print (math.perm(n, k))

2520

In [41]:
# Import math Library
import math

#Return the value of 9 raised to the power of 3
print(math.pow(9, 3))

729.0

In [42]:
# Import math Library
import math

sequence = (2, 2, 2)

#Return the product of the elements
print(math.prod(sequence))

8

In [43]:
# Import math Library
import math

# Convert different degrees into radians
print(math.radians(180))
print(math.radians(100.03))
print(math.radians(-20))

3.141592653589793
1.7458528507699278
-0.3490658503988659

In [44]:
# Import math Library
import math

# Return the remainder of x/y
print (math.remainder(9, 2))
print (math.remainder(9, 3))
print (math.remainder(18, 4))

1.0
0.0
2.0

In [45]:
# Import math Library
import math

# Return the sine of different values
print (math.sin(0.00))
print (math.sin(-1.23))
print (math.sin(10))
print (math.sin(math.pi))
print (math.sin(math.pi/2))

0.0
-0.9424888019316975
-0.5440211108893698
1.2246467991473532e-16
1.0

In [46]:
# Import math Library
import math

# Return the hyperbolic sine of different values
print(math.sinh(0.00))
print(math.sinh(-23.45))
print(math.sinh(23))
print(math.sinh(1.00))
print(math.sinh(math.pi))

0.0
-7641446994.979367
4872401723.124452
1.1752011936438014
11.548739357257748

In [47]:
# Import math Library
import math

# Return the square root of different numbers
print (math.sqrt(9))
print (math.sqrt(25))
print (math.sqrt(16))

3.0
5.0
4.0

In [48]:
# Import math Library
import math

# Return the tangent of different numbers
print (math.tan(90))
print (math.tan(-90))
print (math.tan(45))
print (math.tan(60))

-1.995200412208242
1.995200412208242
1.6197751905438615
0.320040389379563

In [49]:
# Import math Library
import math

# Return the truncated integer parts of different numbers
print(math.trunc(2.77))
print(math.trunc(8.32))
print(math.trunc(-99.29))

2
8
-99