<a href="https://colab.research.google.com/github/Mugdha67/EDGE/blob/main/Kuldip_Dec20_B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Part-1: Python Casting**

In [1]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [2]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [3]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

**Part-2: Python Strings**

In [4]:
print("Hello")
print('Hello')

Hello
Hello

In [5]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [6]:
a = "Hello"
print(a)

Hello

In [7]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [9]:
a = "Hello, World!"
print(a[1])

e

In [10]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [11]:
a = "Hello, World!"
print(len(a))

13

In [12]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [13]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [14]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [15]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [16]:
b = "Hello, World!"
print(b[2:5])

llo

In [17]:
b = "Hello, World!"
print(b[:5])

Hello

In [18]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [19]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [20]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [21]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [22]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [23]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [24]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [25]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [26]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [27]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [28]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [29]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [30]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [31]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [32]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [33]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [34]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [35]:
txt = "Hello\rWorld!"
print(txt)

World!

In [36]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [37]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [38]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [39]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [40]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [41]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [42]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

**Part-3: Python Operators**

In [43]:
print(10 + 5)

15

In [44]:
x = 5
y = 3

print(x - y)

2

In [45]:
x = 5
y = 3

print(x * y)

15

In [46]:
x = 12
y = 3

print(x / y)

4.0

In [47]:
x = 5
y = 2

print(x % y)

1

In [48]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [49]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

In [50]:
x = 5

print(x)

x = 5
x += 3
print(x)

5
8

In [51]:
x = 5

x -= 3

print(x)

2

In [52]:
x = 5

x *= 3

print(x)

15

In [53]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [54]:
x = 5

x%=3

print(x)

2

In [55]:
x = 5

x//=3

print(x)

1

In [56]:
x = 5

x **= 3

print(x)

125

In [57]:
x = 5

x &= 3

print(x)

1

In [58]:
x = 5

x |= 3

print(x)

7

In [59]:
x = 5

x ^= 3

print(x)

6

In [60]:
x = 5

x >>= 3

print(x)

0

In [61]:
x = 5

x <<= 3

print(x)

40

In [62]:
print(x := 3)

3

In [63]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [64]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [65]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [66]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [67]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [68]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

In [69]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [70]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [71]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

In [72]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [73]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [74]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [75]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

In [76]:
print(6 & 3)



"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [78]:
print(6 | 3)



"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

'\nThe | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [79]:
print(6 ^ 3)



"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [80]:
print(~3)



"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

-4

'\nThe ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).\n\nInverted 3 becomes -4:\n 3 = 0000000000000011\n-4 = 1111111111111100\n\nDecimal numbers and their binary values:\n 4 = 0000000000000100\n 3 = 0000000000000011\n 2 = 0000000000000010\n 1 = 0000000000000001\n 0 = 0000000000000000\n-1 = 1111111111111111\n-2 = 1111111111111110\n-3 = 1111111111111101\n-4 = 1111111111111100\n'

In [82]:
print(8 >> 2)



"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [83]:
print(3 << 2)



"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

12

"\nThe << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:\n\nIf you push 00 in from the left:\n 3 = 0000000000000011\nbecomes\n12 = 0000000000001100\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [84]:
print((6 + 3) - (6 + 3))

0

In [85]:
print(100 + 5 * 3)

115

In [86]:
print(5 + 4 - 7 + 3)

5

In [87]:
print((6 + 3) - (6 + 3))

"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

0

'\nParenthesis have the highest precedence, and need to be evaluated first.\nThe calculation above reads 9 - 9 = 0\n'

In [88]:
print(100 - 3 ** 3)

"""
Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
The calculation above reads 100 - 27 = 73
"""

73

'\nExponentiation has higher precedence than subtraction, and needs to be evaluated first.\nThe calculation above reads 100 - 27 = 73\n'

In [89]:
print(100 + ~3)

"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""

96

'\nBitwise NOT has higher precedence than addition, and needs to be evaluated first.\nThe calculation above reads 100 + -4 = 96\n'

In [90]:
print(100 + 5 * 3)

"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""

115

'\nMultiplication has higher precedence than addition, and needs to be evaluated first.\nThe calculation above reads 100 + 15 = 115\n'

In [91]:
print(100 - 5 * 3)

"""
Subtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.
The calculation above reads 100 - 15 = 85
"""

85

'\nSubtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.\nThe calculation above reads 100 - 15 = 85\n'

In [92]:
print(8 >> 4 - 2)

"""
Bitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.
The calculation above reads 8 >> 2 = 2

More explanation:
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nBitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.\nThe calculation above reads 8 >> 2 = 2\n\nMore explanation:\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [93]:
print(6 & 2 + 1)

"""
Bitwise AND has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 & 3 = 2

More explanation:
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nBitwise AND has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 6 & 3 = 2\n\nMore explanation:\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [94]:
print(6 ^ 2 + 1)

"""
Bitwise XOR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 ^ 3 = 5

More explanation:
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nBitwise XOR has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 6 ^ 3 = 5\n\nMore explanation:\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [95]:
print(6 | 2 + 1)

"""
Bitwise OR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 | 3 = 7

More explanation:
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

'\nBitwise OR has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 6 | 3 = 7\n\nMore explanation:\nThe | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [96]:
print(5 == 4 + 1)

"""
The "like" comparison has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 5 == 5 = True
"""

True

'\nThe "like" comparison has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 5 == 5 = True\n'

In [97]:
print(not 5 == 5)

"""
The logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.
The calculation above reads: not True = False
"""

False

'\nThe logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.\nThe calculation above reads: not True = False\n'

In [98]:
print(1 or 2 and 3)

"""
The and operator has a higher precedence than or, and we need to calculate the and expression first.
The calculation above reads: 1 or 3 = 1
"""

1

'\nThe and operator has a higher precedence than or, and we need to calculate the and expression first.\nThe calculation above reads: 1 or 3 = 1\n'

In [99]:
print(4 or 5 + 10 or 8)

"""
The or operator has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads: 4 or 15 or 8 = 4
"""

4

'\nThe or operator has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads: 4 or 15 or 8 = 4\n'

**Part-4: Python Booleans**

In [100]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [101]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [102]:
print(bool("Hello"))
print(bool(15))

True
True

In [103]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [104]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [105]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [106]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [107]:
def myFunction() :
  return True

print(myFunction())

True

In [108]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [109]:
x = 200
print(isinstance(x, int))

True